In [4]:
print("Hello World!")

Hello World!

**Değişkenler**

variable_name = variable_value

In [ ]:
name = "Buket"
age = 28
salary = 19000.60

print(name)
print(age)
print(salary)

Buket
28
19000.6

In [ ]:
person_name = "Aysel"

**Bir değişkenin değerini değiştirme**

In [ ]:
variable = 25
print(variable)

25

In [ ]:
type(variable)

int

In [ ]:
variable = "Merve"
print(variable)

Merve

In [ ]:
type(variable)

str

In [ ]:
name = "Aysel"
Name = "Aydin"

print(name)
print(Name)

Aydin
Aydin

![keywords.png]()

**Veri Tipleri**
*   Int
*   Float
*   String
*   Boolean

In [ ]:
age = 30
type(age)

int

In [ ]:
salary = 1000.40
type(salary)

float

In [ ]:
isNumber = False
type(isNumber)

bool

In [ ]:
name = "Merve"
print(name)

Merve

In [ ]:
print(name[0])

M

In [ ]:
print(name[1:3])

er

In [ ]:
print(len(name))

5

In [ ]:
print(name + " Güngör")

Merve Güngör

In [ ]:
print(type(name))

<class 'str'>

**Python'da Çoklu Atama İşlemleri**

In [ ]:
num1 = num2 = num3 = 25
print(num2)

25

In [ ]:
name = "Buket"
age = 28
salary = 19000.60

In [ ]:
name, age, salary = "Buket", 28, 19000.50

print(name)
print(age)
print(salary)

Buket
28
19000.5

**Değişkenlerde Kapsam**

Yerel Değişken

In [ ]:
def getSalary1():
  price = 500
  print("Salary1 ", price)

def getSalary2():
  print("Salary2 ", price)

getSalary1()
getSalary2()

**Global Değişken**

In [ ]:
price = 500
def getSalary1():
  print("Salary1 ", price)

def getSalary2():
  print("Salary2 ", price)

getSalary1()
getSalary2()

Salary1  500
Salary2  500

İlk maaş bilgisini 600, ikinci maaş bilgisi 500

In [ ]:
price = 500
def getSalary1():
  price = 600
  print("Salary1 ", price)

def getSalary2():
  print("Salary2 ", price)

getSalary1()
getSalary2()

Salary1  600
Salary2  500

Globalde tanımlanan price değerinin değiştirilmesi

In [ ]:
price = 500 #Global Değişken
def getSalary1():
  global price 
  price = 600 #Yerel Değişkenden Global Değişkene
  print(price)

def getSalary2():
  print(price)

print("1 ", price)
getSalary1()
print("2 ", price)
getSalary2()
print("3 ", price)

1  500
600
2  600
600
3  600

**Operatörler**

Toplama

Çıkarma

Çarpma 

Bölme

Int Bölme

Mod

Üst Alma

In [ ]:
print("1+1  ", 1+1)
print("6-1  ", 6-1)
print("2*3  ", 2*3)

print("6/3  ", 6/3) #Float bir dönüş
print("6//4 ", 6//4) #Int bir dönüş
print("int(6/3)  ", int(6/3)) #Int bir dönüş

print("6%2 ", 6%4) #6'nın 4e bölümünden kalan değer
print("2**4 ", 2**4)

1+1   2
6-1   5
2*3   6
6/3   2.0
6//4  1
int(6/3)   2
6%2  2
2**4  16

**İlişkisel(karşılaştırma) operatörler**

**>** Büyüktür

<  Küçüktür

<= Küçük Eşittir

**>=**  Büyük Eşittir

== Eşittir

!= Eşit Değildir

In [ ]:
a = 10
b = 7

print(a > b)
print(a < b)
print(a <= b)
print(a >= b)
print(a == b)
print(a != b)

True
False
False
True
False
True

**Atama Operatörleri**

=, +=, -=, /=, *=, //=

In [ ]:
x = 1
print("İlk değer ", x)

x += 1 #x = x + 1
print("Artırma ", x)

x -= 1 #x = x - 1
print("Azaltma ", x)

x *= 2 #x = x * 2
print("çarpma ", x)

x /= 2 #x = x / 2
print("Bölme ", x)

x = 2
x //= 2 #x = x // 2
print("Int Bölme ", x)

İlk değer  1
Artırma  2
Azaltma  1
çarpma  2
Bölme  1.0
Int Bölme  1

**Mantıksal Operatörler**

or and

**print() ve format()**

In [ ]:
name = "Ebrar"
print("Adı: ", name)

Adı:  Ebrar

In [ ]:
print("Adınızı Girin")

name = input()
print("Girdiğiniz isim: ", name)

Adınızı Girin
Aysel
Girdiğiniz isim:  Aysel

In [ ]:
print("Yaş Bilgisini Giriniz")

age = int(input())
print("Kullanıcının yaşı: ", age)

Yaş Bilgisini Giriniz
10
Kullanıcının yaşı:  10

In [ ]:
print("Maaş Bilgisini giriniz")
salary = float(input())

print("Kullanıcıya bu ay {} lira yatacak".format(salary))

Maaş Bilgisini giriniz
323
Kullanıcıya bu ay 323.0 lira yatacak

In [ ]:
name = "Aysel"
salary = 1300

print("{} kişisine bu ay {} lira yatacak.".format(name, salary))

Aysel kişisine bu ay 1300 lira yatacak.

**Python Comments**

#

In [ ]:
#print("Tek satırlı yorum ekleme")
print("Selam")

Selam

In [ ]:
'''
Çoklu satırda yorum ekleme
print("1. selam")
print("2. Selam")
print("3. selam")
'''
print("4. Selam")

4. Selam

In [ ]:
print("helloooo") # Bu kod satırı ekrana bir text basar

# Bu kod satırı ekrana bir text basar
print("World")

helloooo
World

**Tip Dönüşümü**

In [ ]:
number = 9
language = "Python"
result = 100.40

print(number)
print(language)
print(result)

9
Python
100.4

In [ ]:
print(float(number)) #int -> float

9.0

In [ ]:
print(int(result)) #float -> int

100

In [ ]:
print(int("75"))

75

In [ ]:
print(int("yetmiş"))

ValueError: ignored

In [ ]:
print(int(True))

1

In [ ]:
print(int(False))

0

In [ ]:
print(bool(1))

True

In [ ]:
print(bool(0))

False

In [ ]:
print(bool(-5))

True

In [ ]:
print(bool(3.16789))

True

**Karar Yapıları**

**>** Büyüktür

< Küçüktür

<= Küçük Eşittir

**>=** Büyük Eşittir

== Eşittir

!= Eşit Değildir

In [ ]:
x = 67
y = 106

if y > x:
  print("y x ten büyüktür.")

y x ten büyüktür.

In [ ]:
a = 28
b = 28

if b > a:
  print("b a'dan büyüktür")
elif a == b:
  print("a b'ye eşittir")

a b'ye eşittir

In [ ]:
a = 340
b = 232

if b > a:
  print("b a'dan büyüktür")
elif a == b:
  print("b a'ya eşittir")
  print("Selam")
else:
  print("a b'den büyüktür")

a b'den büyüktür

**İç içe kontrol yapıları**

In [ ]:
num1 = int(input("İlk sayıyı giriniz "))
num2 = int(input("İkinci sayıyı giriniz "))

if num1 >= num2:
  if num1 == num2:
    print(num1, ' ve ', num2, ' eşittir')
  else:
    print('{} değeri {} değerinden büyüktür'.format(num1, num2))
else:
  print('{} değeri {} değerinden küçüktür'.format(num1, num2))

İlk sayıyı giriniz 67
İkinci sayıyı giriniz 89
67 değeri 89 değerinden küçüktür

In [ ]:
number = -3
if number > 0: print("Pozitif sayıdır")
else: print("Negatif sayıdır")

Negatif sayıdır

In [ ]:
number = -3
if number > 0: 
  print("Pozitif sayıdır")
else: 
  print("Negatif sayıdır")

Negatif sayıdır

In [ ]:
x = 10
y = int(input("Tahmin edilen değer "))

if x == y:
  print("harikasın! İlk denemede buldun")
elif x < y:
  print("Tahmin edilen değer büyük")
else:
  print("Tahmin edilen değer küçük")

Tahmin edilen değer 100
Tahmin edilen değer büyük

**Döngüler**

range(başlangıç değeri, bitiş değeri, değişim miktarı)

range(bitiş değeri) -> değişim miktarı 1 1 artar
başlangıç değeri -> 0'dan başlar.

In [ ]:
range(5)

range(0, 5)

In [ ]:
range(2, 10, 2)

In [ ]:
range(20, 2, -2)

for item in loop:

  print(item)

In [ ]:
for item in range(5):
  print(item)

0
1
2
3
4

In [ ]:
for i in range(4,10):
  print(i)

4
5
6
7
8
9

In [ ]:
for x in range(20, 1, -2):
  print(x)

20
18
16
14
12
10
8
6
4
2

**Break**

In [ ]:
for i in range(7, 16):
  if i >= 12:
    print("Break")
    break
  else:
    print(i)

7
8
9
10
11
Break

In [ ]:
for i in range(7, 16):
  if i >= 12:
    print("Break")
    break
  print(i)

7
8
9
10
11
Break

**Continue**

In [ ]:
for i in range(3, 10, 2):
  if i == 7:
    print("Continue")
    continue
  print(i)

3
5
Continue
9

**While Döngüsü**

Koşul doğru olduğu sürece işlemlerin tekrarlanmasını sağlar.

In [ ]:
count = 1
while count < 6:
  print(count)
  count += 1

1
2
3
4
5

In [ ]:
number = int(input("10 ile 20 arasında bir sayı giriniz: "))

while number > 20 or number < 10:
  print("İstenen değer aralığında bir değer girmediniz.")
  number = int(input("Lütfen 10 ile 20 arasında bir sayı giriniz: "))
else: print("Doğru aralıkta girilen değerimiz: ", number)

10 ile 20 arasında bir sayı giriniz: 14
Doğru aralıkta girilen değerimiz:  14

In [ ]:
count = 1
while count < 6:
  print("Hellooo")
  count += 1

Hellooo
Hellooo
Hellooo
Hellooo
Hellooo

**İç içe kullanılan döngüler**

In [ ]:
rows = 5
for i in range(1, rows + 1):
  for j in range(1, i + 1):
    print("*", end=" ")
  print()

*
* *
* * *
* * * *
* * * * *

In [ ]:
for item in range(5):
  print(str(item), end=" ") #yan yana yazmayı sağlar

0 1 2 3 4