**Yıldız çizimleri**

In [ ]:
rows = 5
for i in range(0, rows):
  for j in range(0, i+1):
    print("*", end="")
  print()

*
**
***
****
*****

In [ ]:
rows = 5
for i in range(1, rows+1):
  print("*" * i)

*
**
***
****
*****

In [ ]:
rows = 5
for i in range(rows, 0, -1):
  for j in range(0, i):
    print("*", end="")
  print()

*****
****
***
**
*

In [ ]:
rows = 5
for i in range(rows, 0, -1):
  print("*"*i)

*****
****
***
**
*

In [ ]:
rows = 5
for i in range(0, rows):
  for j in range(0, i+1):
    if j == 0:
      print(" "*(rows - i) + "*", end="")
    else: print("*", end="")
  print()

     *
    **
   ***
  ****
 *****

In [ ]:
rows = 5
for i in range(1, rows + 1):
  print(" "*(rows - i) + "*"*i)

    *
   **
  ***
 ****
*****

In [ ]:
rows = 5
for i in range(rows, 0, -1):#dikey
  for j in range(0, i):#yatay
    if j == 0:
      print(" "*(rows-i) +"*", end="")
    else: print("*", end="")
  print()

*****
 ****
  ***
   **
    *

In [ ]:
rows = 5
for i in range(rows, 0, -1):
  print(" "*(rows - i) + "*"*i)

*****
 ****
  ***
   **
    *

In [ ]:
rows = 5
for i in range(1, rows+1):
  print(" "*(rows - i) + "*"*i*2)

    **
   ****
  ******
 ********
**********

In [ ]:
#Kullanıcıdan bir sayı alıp ardından 0 ile o değer arasındaki sayıların toplamını
#ekrana basan bir kod blogu. Girilen değer dahil et işleme

number = int(input("Lütfen bir sayı giriniz: "))
total = 0

for i in range(number + 1):
  total += i

print("Sayıların Toplamı: ", total)
print("0 ile {} arasındaki sayıların toplamı: {}".format(number, total))

Lütfen bir sayı giriniz: 10
Sayıların Toplamı:  55
0 ile 10 arasındaki sayıların toplamı: 55

In [ ]:
#Toplama işlemi esnasında eğer o anki sayı 
#5 e tam bölünebilen bir sayıysa o değeri eklemeden işlemi yap
#continue ifadesi kullanılacak

number = int(input("Lütfen bir sayı giriniz: "))
total = 0

for i in range(1, number+1):
  if i % 5 != 0:
    print(i)
    total += i
  else: #continue kullanımı olsun diye eklendi.
    print("Continue")
    continue


print("Sayıların Toplamı (5 e bölünenler hariç): ", total)
print("0 ile {} arasındaki sayıların toplamı: {}  (5 e bölünenler hariç)".format(number, total))

Lütfen bir sayı giriniz: 10
1
2
3
4
Continue
6
7
8
9
Continue
Sayıların Toplamı (5 e bölünenler hariç):  40
0 ile 10 arasındaki sayıların toplamı: 40  (5 e bölünenler hariç)

In [ ]:
#Bir sayının kaç basamaklı olduğunu bulalım

x = 23663724832894
count = 0

while x > 0:
  x //= 10
  count += 1

print("Toplam basamak sayısı: ", count)

# 1. x = 23
# 2. x = 2
# 3. x = 0

Toplam basamak sayısı:  3

In [ ]:
'''
Kullanıcıdan bir değer alıp ardından hem alt alta hem yan yana yazdırın
5 4 3 2 1
4 3 2 1
3 2 1
2 1
1
'''

a = int(input("Bir sayı giriniz: "))

for i in range(a, 0, -1):
  for j in range(i, 0, -1):
    print(j, end=" ")
  print()

Bir sayı giriniz: 5
5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [ ]:
a = int(input("Bir sayı giriniz: "))

for i in range(0, a+1):
  for j in range(a-i, 0, -1):
    print(j, end=" ")
  print()

Bir sayı giriniz: 5
5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [ ]:
#Bir aralık belirleyip bu aralıktaki tüm asal sayıları ekrana basan kod blogunu yazalım

start = 1
end = 10
print("{} ve {} arasındaki asal sayılar ".format(start, end))

for i in range(start, end):
  if i > 1:
    asal = True

    for j in range(2, i):
      if i % j == 0:
        asal = False
        break
        
    if asal: # if asal == True
      print(i)

1 ve 10 arasındaki asal sayılar
2
3
5
7

In [ ]:
#Girilen değere göre fibonacci seri hesaplaması yapalım
# 0 1 1 2 3 5 8

num1, num2 = 0, 1

a = int(input("Bir değer giriniz: "))
for i in range(a + 2):
  print(num1, end=" ")
  total = num1 + num2

  num1 = num2
  num2 = total

Bir değer giriniz: 5
0 1 1 2 3 5 8

In [ ]:
#Verilen sayının faktöriyelini hesaplayınız

num = 5
factorial = 1

if num <= 1:
  print("Faktöriyel = 1")
else:
  for i in range(2, num +1):
    factorial *= i
  print("Faktöriyel = ", factorial)

Faktöriyel =  120

In [ ]:
#verilen bir tamsayıyı tersten yazın

number = 23649328
reverse = 0
print("Girilen Değer:", number)

while number > 0:
    temp = number % 10
    reverse = (reverse * 10) + temp   
    number //= 10 
    print("Temp {} reverse {} number {} ".format(temp, reverse, number))
    
print("Ters çevrilmiş sayı:", reverse)

Girilen Değer: 23649328
Temp 8 reverse 8 number 2364932
Temp 2 reverse 82 number 236493
Temp 3 reverse 823 number 23649
Temp 9 reverse 8239 number 2364
Temp 4 reverse 82394 number 236
Temp 6 reverse 823946 number 23
Temp 3 reverse 8239463 number 2
Temp 2 reverse 82394632 number 0
Ters çevrilmiş sayı: 82394632